#modalnode-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    z-index: 490;
    background: rgba(0, 0, 0, .7);
    text-align: center;
}

#modalnode-overlay iframe {
    height: 70vh;
    width: 40vw;
    margin: 10vh auto 0 auto;
    color: white;
}

#modalnode-overlay a {
    clear: both;
    float: left;
    width: 100%;
    color: blue;
}

.close {
    text-shadow: none;
    opacity: 1;
    color: white;
}

#button-ye9xzxoj556u {
    background: #24150b;
    color: #8bc63f;
    border-color: #8bc63f;
}

#button-ye9xzxoj556u:hover {
    color: #ffffff;
}
#button-x4sjtn8ek59f {
    background: #24150b;
    color: #8bc63f;
    border-color: #8bc63f;
}

#button-x4sjtn8ek59f:hover {
    color: #ffffff;
}

.white-background {background: #ffffff;}